# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.development
.DS_Store
src/img/Don't Use.pdf
src/img/WebsiteAssets/Kopecky - Cover Letter Twitter.pdf
13435321_10101043279357081_3306445881295331669_n.jpg
Profile-Pic-Purple.png
Screen Shot 2018-07-13 at 7.38.19 PM.png
Screen Shot 2018-07-13 at 7.38.08 PM.png
Screen Shot 2018-11-04 at 11.19.15 PM.png
cmvnk.jpeg
mobile-dark-landing.png
mobile-light-landing.png
mobile-single-project-dark.png
myportfolio/.package.json.icloud
myportfolio/.yarn.lock.icloud
myportfolio/public/.index.html.icloud
myportfolio/public/.manifest.json.icloud
myportfolio/public/favicon/.browserconfig.xml.icloud
myportfolio/public/favicon/.manifest.json.icloud
myportfolio/public/favicon/android-icon-144x144.png
myportfolio/public/favicon/android-icon-192x192.png
myportfolio/public/favicon/android-icon-36x36.png
myportfolio/public/favicon/android-icon-48x48.png
myportfolio/public/favicon/android-icon-72x72.png
myportfolio/public/favicon/android-icon-96x96.png
myportfolio/public/favicon/apple-icon.png
myportfolio/public/favicon/apple-icon-114x114.png
myportfolio/public/favicon/apple-icon-120x120.png
myportfolio/public/favicon/apple-icon-144x144.png
myportfolio/public/favicon/apple-icon-152x152.png
myportfolio/public/favicon/apple-icon-180x180.png
myportfolio/public/favicon/apple-icon-57x57.png
myportfolio/public/favicon/apple-icon-60x60.png
myportfolio/public/favicon/apple-icon-72x72.png
myportfolio/public/favicon/apple-icon-76x76.png
myportfolio/public/favicon/apple-icon-precomposed.png
myportfolio/public/favicon/favicon.ico
myportfolio/public/favicon/favicon-16x16.png
myportfolio/public/favicon/favicon-32x32.png
myportfolio/public/favicon/favicon-96x96.png
myportfolio/public/favicon/ms-icon-144x144.png
myportfolio/public/favicon/ms-icon-150x150.png
myportfolio/public/favicon/ms-icon-310x310.png
myportfolio/public/favicon/ms-icon-70x70.png
myportfolio/src/img/mobile-projects-dark.png
src/img/WebsiteAssets/redux-authmiddleware-for-webpt5-sprint-group-2.png
myportfolio/src/.App.css.icloud
myportfolio/src/.index.css.icloud
myportfolio/src/App.js
myportfolio/src/App.test.js
myportfolio/public/favicon.ico
myportfolio/src/index.js
myportfolio/src/serviceWorker.js
myportfolio/src/components/accordian.js
myportfolio/src/img/.sample_code_dark.png.icloud
myportfolio/src/img/.sample_code_light.png.icloud
.DS_Store
myportfolio/.gitignore
src/Resume.md
Resume.md
