.contact-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    .contact-form {
        width: 70%;
        .contact-header {
            font-size: 2rem;
            font-weight: 600;
        }
        label {
            font-size: 1.5rem;
        }
        input {
            font-size: 1.4rem;
        }
        textarea {
            font-size: 1.4rem;
            height: 200px;
        }
        .input-wrapper {
            display: flex;
            flex-direction: column;
            .btn {
                border-radius: 20px;
                width: 30%;
                align-self: flex-end;
                @media @desktop3 {
                    width: 50%;

                }
                @media @tablet {
                    align-self: center;
                    width: 80%;
                    margin-top: 20px;
                }
            }
        }
        

    }
}