.contact-wrapper {
    .contact-form {
        .contact-header {
            font-size: 2rem;
            font-weight: 600;
        }
        label {
            font-size: 1.5rem;
        }
        input {
            font-size: 1.4rem;
        }
        textarea {
            font-size: 1.4rem;
        }

    }
}