body {
	margin: 0 auto !important;
	max-width: 1800px !important;
	width: 100%;
	height: 100vmax;
	line-height: 1.54;
	font-family: 'Roboto', sans-serif;
	color: inherit;
}

html[data-theme="Light"]{
	body {
		background-image: url("../img/WebsiteAssets/Screenshot-light.png");
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		min-height: 1000px;
		#root{
			#body {
				color: @lightcolor;
				display: flex;
				flex-direction: column;


				.nav-bar-portfolio {
					background-color: white !important;
					a {
						.hover-light-theme(rgb(0, 226, 226), 10%);
					}
					.nav-bar-links{
						.nav-link-bar{
							a{
								.hover-light-theme(rgb(0, 226, 226), 10%);
							}
						}
						.career-links {
							a{
								.hover-light-theme(rgb(0, 226, 226), 10%);
							}
						}
					}
					.switch {
						background:rgb(116, 64, 122);
						color: white;
					}
				}
				.main-content {
					width: 100%;
					background: rgba(218, 200, 175, 0.8) !important; 
					color: @lightcolor;
					@media @desktop3 {
						padding: 10px;
					}
					.btn {
						background: darken(rgb(0, 226, 226), 10%),;
						a {
							color: white;	
						}
						&:hover {
							background: darken(rgb(0, 226, 226), 20%)
						}
					}

					.banner-container {
						height: 100vh;
						button {
							background:rgb(116, 64, 122);
							color: white;
							&:hover {
								background: @lightcolor;
								color: @lightbg;
							}
						}
						.career-urls {
							a {
								color: @lightcolor;
								&:hover {
									color: lighten(teal, 10%);
								}
							}
						}
					}
					.download-resume {
						text-align: right;
						@media @desktop3 {
							background: @lightbg;
						}
						@media @phone {
							background: transparent;
							border-radius: 20px;
						}
						a {
							color: @lightcolor;
							@media @tablet {
								background: @lightbg;
							}
						}
					}
					}
					.text-container-resume {
						background: @lightbg;
						color: @lightcolor;
						button {
							background: @lightbg;
							color: @lightcolor;
						}

						.recent-projects {
							hr{
								background-color: lighten(@lightcolor, 70%);
							}
						}
						.work-experience{
							hr{
								background-color: lighten(@lightcolor, 70%);
							}
						}
					}
					.card {
						background: @lightbg;
						color: @lightcolor;
						.tech-stack {
							a {
								color: @lightcolor;
								text-decoration: underline;
								&:hover {
									text-decoration: none;
									color:rgb(0, 226, 226);
								}
							}
		
						}
						.btn {
							background: darken(rgb(0, 226, 226), 10%),;
							a {
								color: white;	
								font-weight: bold;
							}
							&:hover {
								
								background: darken(rgb(0, 226, 226), 20%)
							}
						}
					}
					.contact-form-input {
						.form-control {
							background: @lightbg;
							color: @lightcolor;
						}
					}
				}
			}
		}
	}

html[data-theme="Dark"] {
	body{
		background-image: url("../img/WebsiteAssets/Screenshot-dark.png");
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		min-height: 800px;
		#root {
			#body {
				color: @darkcolor;
				display: flex;
				flex-direction: column;
				.nav-bar-portfolio {
					background-color: black !important;
					a {
						.hover-dark-theme(teal, 10%);
					}
					.nav-bar-links{
						.nav-link-bar{
							a {
								.hover-dark-theme(teal, 10%);
							}
						}
						.career-links {
							a{
								.hover-dark-theme(teal, 10%);
							}
						}
					}
					.switch {
						background: lighten(teal, 50%);
						color: @lightcolor;
					}
				}
				.main-content {
					width: 100%;
					background: darken(rgba(0, 0, 255, .8), 30%);
					color: @darkcolor;
					@media @desktop3 {
						padding: 10px;
					}
					.btn {
						background: lighten(@darkbg, 20%);
						color: @darkcolor; 
						a {
							color: @darkcolor;
						}
						&:hover {
							background: darken(teal, 10%)
						}
						
					}
					.banner-container {	
						height: 100vh;						
						button {
							background: lighten(teal, 10%);
							color: @lightcolor;
							&:hover {
								background: darken(teal, 40%);
								color: lighten(@darkbg, 10%);
							}
						}
						.career-urls {
							a {
								color: darken(@darkcolor, 10%);
								&:hover {
									color: darken(teal, 10%);
								}
							}
						}
					}
					
					.download-resume {
						@media @desktop3 {
							background: @darkbg;
						}
						@media @phone {
							background: inherit;
							border-radius: 20px;
						}
						a {
							color: @darkcolor;
						}
					}
					.text-container-resume {
						background: @darkbg;
						color: @darkcolor;
						button {
							background: @darkbg;
							color: @darkcolor;
						}
						.recent-projects {
							hr{
								background-color: darken(@darkcolor, 30%);
							}
						}
						.work-experience{
							hr{
								background-color: darken(@darkcolor, 30%);
							}
						}
					}
					.card {
						background: @darkbg;
						color: @darkcolor;
						.tech-stack{
							a {
								color: @darkcolor;
								text-decoration: underline;
								&:hover {
									text-decoration: none;
									color: darken(rgb(0, 226, 226), 20%);
								}
							}
						}
						.btn {
							background: darken(teal, 10%);
							&:hover {
								background: teal;
							}
							a {
								color: @darkcolor;
								font-weight: bold;
							}
							
							
						}
							
					}
					.contact-form-input {
						.form-control {
							background: @darkbg;
							color: @darkcolor;
						}
						
					}
					.input-wrapper {
						.btn {
							background: lighten(teal, 10%);
							color: @lightcolor;
							font-weight: bold;
							&:hover {
								background: teal;
								color: lighten(@darkbg, 10%);
							}
						}
					}
				}
				
			}
		}
	}
}

