body {
	margin: 0 auto !important;
	max-width: 1800px !important;
	width: 100%;
	height: 100vmax;
	line-height: 1.54;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: inherit;
}

html[data-theme="Light"]{
	body {
		background-image: url("../img/Screenshot-light.png");
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		height: 100vh;
		#root{
			#body {
				color: @lightcolor;
				display: flex;
				flex-direction: column;
				.nav-bar-portfolio {
					background-color: @lightnav !important;
					a {
						.hover-light-theme(rgb(0, 226, 226), 10%);
					}
					.nav-bar-links{
						.nav-link-bar{
							a{
								.hover-light-theme(rgb(0, 226, 226), 10%);
							}
						}
						.career-links {
							a{
								.hover-light-theme(rgb(0, 226, 226), 10%);
							}
						}
					}
					.switch {
						background:rgb(116, 64, 122);
						color: white;
					}
				}
				.main-content {
					width: 80%;
					height: auto;
					align-self: center;
					margin: 50px;
					padding: 50px;
					background: rgba(218, 200, 175, 0.8) !important; 
					color: @lightcolor;
					border-radius: 20px;
					@media @tablet {
						margin: 30px;
						padding: 30px;
						width: 90%;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.banner-container {
						button {
							background: @lightbg;
							color: @lightcolor;
							&:hover {
								background: @lightcolor;
								color: @lightbg;
							}
						}
					}
					.download-resume {
						text-align: right;
						@media @desktop3 {
							background: @lightbg;
						}
						@media @phone {
							background: transparent;
							border-radius: 20px;
						}
						a {
							color: @lightcolor;
							@media @tablet {
								background: @lightbg;
							}
						}
					}
					}
					.text-container-resume {
						background: @lightbg;
						color: @lightcolor;
						button {
							background: @lightbg;
							color: @lightcolor;
						}

						.recent-projects {
							hr{
								background-color: lighten(@lightcolor, 70%);
							}
						}
						.work-experience{
							hr{
								background-color: lighten(@lightcolor, 70%);
							}
						}
					}
				}
			}
		}
	}

html[data-theme="Dark"] {
	body{
		background-image: url("../img/Screenshot-dark.png");
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		height: 100vh;
		#root {
			#body {
				color: @darkcolor;
				display: flex;
				flex-direction: column;
				.nav-bar-portfolio {
					background-color: @darknav !important;
					a {
						.hover-dark-theme(teal, 10%);
					}
					.nav-bar-links{
						.nav-link-bar{
							a {
								.hover-dark-theme(teal, 10%);
							}
						}
						.career-links {
							a{
								.hover-dark-theme(teal, 10%);
							}
						}
					}
					.switch {
						background: lighten(teal, 50%);
						color: @lightcolor;
					}
				}
				.main-content {
					width: 80%;
					height: auto;
					align-self: center;
					margin: 50px;
					padding: 50px;
					background: darken(rgba(0, 0, 255, .8), 30%);
					color: @darkcolor;
					border-radius: 20px;
					@media @tablet {
						margin: 30px;
						padding: 30px;
						width: 90%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.banner-container {
						.text-container {
							
							button {
								background: lighten(@darkbg, 10%);
								color: lighten(@darkcolor, 50%);
								&:hover {
									background: lighten(@darkcolor, 50%);
									color: lighten(@darkbg, 10%);
								}
							}
						}
					}
					.download-resume {
						@media @desktop3 {
							background: @darkbg;
						}
						@media @phone {
							background: inherit;
							border-radius: 20px;
						}
						a {
							color: @darkcolor;
						}
					}
					.text-container-resume {
						background: @darkbg;
						color: @darkcolor;
						button {
							background: @darkbg;
							color: @darkcolor;
						}
						.recent-projects {
							hr{
								background-color: darken(@darkcolor, 30%);
							}
						}
						.work-experience{
							hr{
								background-color: darken(@darkcolor, 30%);
							}
						}
					}
				}
				
			}
		}
	}
}

