body {
	margin: 0 auto !important;
	max-width: 1800px;
	width: 100%;
	line-height: 1.54;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#body {
	margin: 0 auto;
	max-width: 1800px;
	width: 100%;
	height: 100vh;
}

.light-theme {
	margin: 0 auto;
	background-color: @lightbg !important;
	color: #222;
	.nav-bar-portfolio {
		background-color: @lightnav !important;
		a {
			.hover-light-theme(rgb(0, 226, 226), 10%);
		}
		.nav-bar-links{
			.nav-link-bar{
				a{
					.hover-light-theme(rgb(0, 226, 226), 10%);
				}
			}
			.career-links {
				a{
					.hover-light-theme(rgb(0, 226, 226), 10%);
				}
			}
		}
		.switch {
			background:rgb(116, 64, 122);
			color: white;
		}
	}
	div {
		margin-top: 0;
		padding-top: 0;
		.banner-container {
			background-image: url("../img/sample_code_light.png");
			background-size: cover;
			width: 100%;
			height: 500px;
		}
	}
	.container {
		padding: 20px;
	}
}
.dark-theme {
	margin: 0 auto;
	background-color: @darkbg !important;
	color: @darkcolor !important;
	.nav-bar-portfolio {
		background-color: @darknav !important;
		a {
			.hover-dark-theme(teal, 10%);
		}
		.nav-bar-links{
			.nav-link-bar{
				a{
					.hover-dark-theme(teal, 10%);
				}
			}
			.career-links {
				a{
					.hover-dark-theme(teal, 10%);
				}
			}
		}
		.switch {
			background: lighten(teal, 50%);
			color: @lightcolor;
		}
	}
	div {
		margin-top: 0;
		padding-top: 0;
		.banner-container {
			background-image: url("../img/sample_code_dark.png");
			background-size: cover;
			width: 100%;
			height: 500px;
		}
	}
	.container {
		padding: 20px;
	}
}

