.navbar {
    margin-bottom: 0px !important;
    font-family: 'Roboto';
}
.nav-bar-portfolio {
    display:flex;
    align-self: center;
    padding: 0;
    width:100%;

    .nav-bar-brand {
        width: 40%;
        display:flex;
        align-items: center;
        margin: 0;
        cursor: pointer;

        @media @tablet {
            width: 60%;
            padding: 0;
        }
        @media @phone {
            padding: 0;
        }
        .name-slug{
            // margin: 0px 20px;
            font-family: 'Homemade Apple';
            @media @phone {
                display: none;
            }
        }
        .mobile-name-slug {
            display: none;
            font-family: 'Homemade Apple';
            @media @phone {
                display: flex;
            }
        }
    }

    .navbar-collapse {
        display:flex;
        width: 100%;

        @media @tablet {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }
        .nav-bar-links {
            width:100%;
            display:flex;
            justify-content: flex-end;
            align-self: center;

            @media @tablet {
                padding-bottom: 20px;
                padding-right: 0;
                margin: 0px;
            }
            .nav-link-bar {
                width: 60%;
                display:flex;
                justify-content: flex-end;
                align-items: center;
                @media @tablet {
                    display: flex;
                    flex-direction: column;
                    margin-right: 0px;
                    // align-items: center;
                    width: 100%;
                }
                li {
                    cursor: pointer;
                }
                
            }

            .switch-container{
                width: 10%;
                display: flex;
                align-items: center;

                @media @tablet {
                    margin-top: 30px;
                    width: 100%;
                    justify-content: center;
                }
                label {
                    margin-right: 10px;
                    margin-top: 5px;
                }
                .day-switch {
                    display:flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding-right: 10px;
                    width: 100%;
                    @media @tablet {
                        width: 50%;
                        justify-content: center;
                    }
                    .switch { //button theme switch
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        width: 80%;
                        cursor: pointer;
                        @media @desktop4 {
                            width: 90%;
                        }
                        @media @tablet {
                            width: 40%;
                            height: 20px;
                            padding: 0px;
                        }
                        @media @phone {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }

    /* The switch - the box around the slider */
    
}

