/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  margin: 0 auto !important;
  max-width: 1800px !important;
  width: 100%;
  height: 100vh;
  line-height: 1.54;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: inherit;
  background-color: inherit;
}
html[data-theme="Light"] body {
  background-image: url("../img/Screenshot-light.png");
  background-size: cover;
}
html[data-theme="Light"] body #root #body {
  color: #212529;
  display: flex;
  flex-direction: column;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio {
  background-color: #f8f9fa !important;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio a {
  color: #212529;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio a:hover {
  color: #00afaf;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio .nav-bar-links .nav-link-bar a {
  color: #212529;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio .nav-bar-links .nav-link-bar a:hover {
  color: #00afaf;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio .nav-bar-links .career-links a {
  color: #212529;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio .nav-bar-links .career-links a:hover {
  color: #00afaf;
}
html[data-theme="Light"] body #root #body .nav-bar-portfolio .switch {
  background: #74407a;
  color: white;
}
html[data-theme="Light"] body #root #body .main-content {
  width: 80%;
  height: auto;
  align-self: center;
  margin: 50px;
  padding: 50px;
  background: rgba(218, 200, 175, 0.8) !important;
  color: #212529;
  border-radius: 20px;
}
html[data-theme="Light"] body #root #body .main-content .banner-container .text-container button {
  background: #fff;
  color: #212529;
}
html[data-theme="Light"] body #root #body .main-content .text-container-resume {
  background: #fff;
  color: #212529;
}
html[data-theme="Light"] body #root #body .main-content .text-container-resume button {
  background: #fff;
  color: #212529;
}
html[data-theme="Dark"] {
  background-color: #292a2d !important;
  color: #a9a9b3 !important;
}
html[data-theme="Dark"] body {
  background-image: url("../img/Screenshot-dark.png");
  background-size: cover;
}
html[data-theme="Dark"] body #root #body {
  color: #a9a9b3;
  display: flex;
  flex-direction: column;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio {
  background-color: #343a40 !important;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio a {
  color: #a9a9b3;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio a:hover {
  color: #00b3b3;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio .nav-bar-links .nav-link-bar a {
  color: #a9a9b3;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio .nav-bar-links .nav-link-bar a:hover {
  color: #00b3b3;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio .nav-bar-links .career-links a {
  color: #a9a9b3;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio .nav-bar-links .career-links a:hover {
  color: #00b3b3;
}
html[data-theme="Dark"] body #root #body .nav-bar-portfolio .switch {
  background: #80ffff;
  color: #212529;
}
html[data-theme="Dark"] body #root #body .main-content {
  width: 80%;
  height: auto;
  align-self: center;
  margin: 50px;
  padding: 50px;
  background: rgba(0, 0, 102, 0.8);
  color: #a9a9b3;
  border-radius: 20px;
}
html[data-theme="Dark"] body #root #body .main-content .banner-container .text-container button {
  background: #414348;
  color: #ffffff;
}
html[data-theme="Dark"] body #root #body .main-content .text-container-resume {
  background: #292a2d;
  color: #a9a9b3;
}
html[data-theme="Dark"] body #root #body .main-content .text-container-resume button {
  background: #292a2d;
  color: #a9a9b3;
}
.navbar {
  margin-bottom: 0px !important;
}
.nav-bar-portfolio {
  display: flex;
  padding: 0;
  width: 100%;
  /* The switch - the box around the slider */
}
.nav-bar-portfolio .nav-bar-brand {
  width: 40%;
  display: flex;
  align-items: center;
  margin: 0;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .nav-bar-brand {
    width: 85%;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .nav-bar-portfolio .nav-bar-brand {
    width: 60%;
    padding: 0;
  }
}
.nav-bar-portfolio .nav-bar-brand .name-slug {
  font-family: 'Homemade Apple';
}
@media (max-width: 400px) {
  .nav-bar-portfolio .nav-bar-brand .name-slug {
    display: none;
  }
}
.nav-bar-portfolio .nav-bar-brand .mobile-name-slug {
  display: none;
  font-family: 'Homemade Apple';
}
@media (max-width: 400px) {
  .nav-bar-portfolio .nav-bar-brand .mobile-name-slug {
    display: flex;
  }
}
.nav-bar-portfolio .navbar-collapse {
  display: flex;
  width: 50%;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse {
    width: 100%;
  }
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse .nav-bar-links {
    padding-bottom: 20px;
    padding-right: 0;
  }
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links .nav-link-bar {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse .nav-bar-links .nav-link-bar {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    align-items: center;
    width: 100%;
  }
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links .career-urls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 25%;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse .nav-bar-links .career-urls {
    font-size: 1.5rem;
    width: 100%;
  }
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container {
  width: 25%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container {
    margin-top: 30px;
    width: 100%;
    justify-content: center;
  }
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container label {
  margin-right: 10px;
  margin-top: 5px;
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container .day-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  width: 100%;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container .day-switch {
    width: 50%;
    justify-content: center;
  }
}
.nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container .day-switch .switch {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  width: 50%;
  cursor: pointer;
}
@media (max-width: 767px) {
  .nav-bar-portfolio .navbar-collapse .nav-bar-links .switch-container .day-switch .switch {
    width: 50%;
    border-radius: 20px;
    height: 40px;
    padding: 0px;
  }
}
.container-landing {
  border-radius: 20px;
}
.container-landing .banner-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.container-landing .banner-container .text-container {
  width: 80%;
  padding: 30px;
  font-family: 'Raleway';
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.container-landing .banner-container .text-container img {
  display: flex;
  align-self: flex-start;
  border-radius: 50%;
  height: 300px;
  margin: 20px;
}
@media (max-width: 1100px) {
  .container-landing .banner-container .text-container img {
    display: none;
  }
}
.container-landing .banner-container .text-container .text-block {
  width: calc(100% - 200px);
  padding: 10px;
}
@media (max-width: 1100px) {
  .container-landing .banner-container .text-container .text-block {
    width: 100%;
  }
}
.container-landing .banner-container .text-container .text-block .carat {
  font-size: 1.6rem;
  font-weight: 700;
}
.container-landing .banner-container .text-container .text-block h1 {
  padding-top: 30px;
}
.container-landing .banner-container .text-container .text-block p {
  padding: 10px;
  font-size: 1.5rem;
  font-family: 'Roboto';
  font-weight: 400;
}
.container-landing .banner-container .text-container .text-block button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  margin-top: 30px;
  border-radius: 20px;
}
.resume-container .text-container-resume {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 30px;
}
