body {
  font-family: sans-serif;
}
.main-container {
  background: url('../img/bridge.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.landing-container {
  width: 1000px;
  height: 70vh;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: 60px;
  
}
.text {
  color: #fff !important;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 60px auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */

}

.route-aboutme, Link, a{
  margin: 40px;
  color: blanchedalmond;
}

.aboutme-main {
  width: 1000px;
  height: 70vh;
  background-color: black;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin: 60px auto;
}
.aboutme-container {
  display:flex;
  justify-content: center;
  align-items:center;
}

.profile-pic {
  width: 200px;
  height: auto;
  align-self: flex-start;
  padding: 50px;
}
.biography {
  font-family: monospace;
  padding: 20px;
  color: white;
}

.navbar-wrapper {
  width: 100%;
  display:flex;
  justify-content: space-around;
  background-color: olivedrab;
  opacity: .8;
}

.navlink {
  color: white;
}

.navlink:hover {
  color: goldenrod;
}
.pdf {
  display:inline-flex;
}

.resume-container {
  display:flex;
}

.social-media-wrapper {
  margin: 20px;
  border: 5px double black;
  height: 275px;
  background-color: goldenrod;
  opacity: .9;
}

.download-link {
  font-family: monospace;
  color: white;
  background-color: black;
  border: 2px solid goldenrod;
  text-align: center;
}

.page {
  margin: 20px;
}

.projects-main-container {
  background-color: black;
  width: 100vw;
  height: 100vh;
  
}

.projects-wrapper {
  width: 100%;
}

.single-project-card {
  width: 33%;
  height: auto;
  margin: 20px;
}